html,
body,
div#root {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

div#root {
  display: flex;
  flex-direction: column;
}

div#root > main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
